.python-version
__pycache__
.ipynb_checkpoints
.vscode
DATA/*
Predictions/*
catboost_info/*
nn_Xtrain_representations.csv
nn_Xval_representations.csv
X_test.csv
X_train.csv
X_val.csv
y_train.csv
y_val.csv